@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Cookie&display=swap");
button {
  border-radius: 50px;
  border: 3px solid #02251e;
  padding: 0;
  padding-left: 5px;
  padding-right: 5px;
  padding-bottom: 5px;
  cursor: pointer;
}

input[type=checkbox] {
  display: none;
}

li {
  list-style: none;
}

h2,
h3 {
  font-family: "Cookie", cursive;
}

body header h1 {
  text-align: center;
}
body main {
  background-color: #222222;
  border-radius: 5px;
  max-width: 380px;
  height: 80vh;
  min-height: 520px;
  margin: auto;
  padding: 5% 5% 2% 5%;
}
body main section {
  max-width: 350px;
  margin: auto;
  border-radius: 3px;
  background-color: beige;
  height: 75vh;
  min-height: 480px;
}
body main section .rings {
  border-bottom: 1px dashed black;
  display: flex;
  justify-content: space-between;
  padding-left: 5%;
  padding-right: 5%;
  padding-top: 2%;
}
body main section .rings .ring {
  background-color: #222222;
  width: 20px;
  height: 20px;
  border-radius: 50px;
  position: relative;
  margin-bottom: 8px;
}
body main section .rings .ring:after {
  content: "";
  position: absolute;
  background-color: silver;
  border-radius: 5px;
  top: -35px;
  left: 8px;
  width: 5px;
  height: 45px;
}
body main section .content {
  overflow: hidden;
}
body main section .content .form h2,
body main section .content .list h2 {
  text-align: center;
  font-size: 2rem;
}
body main section .content .form #todoForm {
  position: relative;
}
body main section .content .form #todoForm .todoText,
body main section .content .form #todoForm .todoDescription,
body main section .content .form #todoForm .submit {
  display: block;
  margin: auto;
}
body main section .content .form #todoForm .todoText {
  width: 80%;
}
body main section .content .form #todoForm .required {
  position: absolute;
  top: 2px;
  right: 5%;
}
body main section .content .form #todoForm .todoDescription {
  width: 95%;
  height: 35px;
  resize: none;
}
body main section .content .form #todoForm .requiredField {
  margin: auto;
  margin-left: 25px;
  margin-bottom: -10px;
  margin-top: 5px;
}
body main section .content .form #todoForm .submit {
  margin-bottom: 10px;
}
body main section .content .list {
  padding-bottom: 10px;
}
body main section .content .list h2 {
  margin-top: 0;
  margin-bottom: 0;
}
body main section .content .list h3 {
  font-size: 1.6rem;
  text-align: center;
}
body main section .content .list #todoList {
  display: flex;
  flex-direction: column-reverse;
  padding: 0;
  margin-top: -10px;
  padding-top: 5px;
  max-height: 25vh;
  gap: 1vh;
  overflow-y: scroll;
}
body main section .content .list #todoList .todo-item {
  width: 80vw;
  max-width: 220px;
  margin: auto;
  margin-bottom: 1vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
body main section .content .list #todoList .todo-item .tick {
  width: 20px;
  height: 20px;
  border: 3px solid #02251e;
  border-radius: 50%;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
body main section .content .list #todoList .todo-item .tick:before {
  content: "✓";
  color: #138d75;
  font-weight: bold;
  display: none;
}
body main section .content .list #todoList .todo-item span {
  flex-grow: 1;
  text-align: center;
  max-width: 120px;
  padding-left: 5px;
  padding-right: 2px;
  overflow: hidden;
  text-overflow: ellipsis;
}
body main section .content .list #todoList .todo-item .delete {
  color: rgb(202, 49, 49);
  border-color: rgb(202, 49, 49);
  font-size: 1rem;
  padding-bottom: 0;
  margin-left: 5px;
}
body main section .content .list #todoList .done {
  order: -1;
}
body main section .content .list #todoList .done span {
  text-decoration: line-through;
  color: grey;
}
body main section .content .list #todoList .done .tick:before {
  display: inline;
}
body main section .detailed-content {
  display: flex;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  justify-content: center;
  align-items: center;
  height: 70vh;
}
body main section .detailed-content #error {
  padding-left: 20px;
  padding-right: 20px;
  font-size: 1.5rem;
  text-align: center;
}
body main section .detailed-content #error + #text {
  display: none;
}
body main section .detailed-content #error + #text + #description {
  display: none;
}
body main section .detailed-content #text {
  font-size: 3rem;
  height: 20px;
}
body main section .detailed-content #description {
  font-size: 2rem;
  text-align: center;
  padding-left: 20px;
  padding-right: 20px;
}
body #detailed-main {
  position: relative;
  top: 30px;
}
body #detailed-main #detailed-section {
  position: relative;
}
body #detailed-main #detailed-section:before {
  content: "";
  background-color: beige;
  border-top: 1px dashed black;
  width: 100%;
  max-width: 380px;
  height: 32px;
  position: absolute;
  top: -51px;
}
body #detailed-main #detailed-section .rings .ring:before {
  content: "";
  background-color: #222222;
  width: 20px;
  height: 20px;
  border-radius: 50px;
  position: absolute;
  top: -46px;
  margin-bottom: 8px;
}

footer .copyright {
  width: 100%;
  text-align: center;
}
footer .copyright-text {
  display: none;
}

#detailed-footer {
  position: relative;
  top: 30px;
}

@media screen and (min-width: 600px) {
  footer .copyright-text {
    display: inline;
  }
  footer .copyright-text .copyright {
    padding-right: 2px;
    position: relative;
    bottom: 2px;
    font-size: 0.8em;
  }
  footer .copyright-logo {
    display: none;
  }
  #detailed-footer {
    top: 0;
  }
}
@media screen and (min-width: 600px) {
  body main {
    padding: 15px 15px 0 15px;
    margin-top: 50px;
  }
  body main section .rings .ring {
    width: 20px;
    height: 20px;
    border-radius: 50px;
    position: relative;
    margin-bottom: 8px;
  }
  body main section .rings .ring:before {
    content: "";
    position: absolute;
    background-color: silver;
    border-radius: 5px;
    top: -48px;
    left: 8px;
    width: 5px;
    height: 60px;
  }
  body main section .content .list #todoList {
    margin: auto;
  }
  body #detailed-main {
    top: 0;
  }
  body #detailed-main #detailed-section .rings .ring:before {
    left: 0;
  }
}
@media screen and (min-width: 1200px) {
  body main section .content .list #todoList {
    margin: auto;
    max-height: 38vh;
  }
}/*# sourceMappingURL=style.css.map */