@import "../utils/variables";

body {
  header {
    h1 {
      text-align: center;
    }
  }
  main {
    background-color: $notebook;
    border-radius: 5px;
    max-width: 380px;
    height: 80vh;
    min-height: 520px;
    margin: auto;
    padding: 5% 5% 2% 5%;
    section {
      max-width: 350px;
      margin: auto;
      border-radius: 3px;
      background-color: $page;
      height: 75vh;
      min-height: 480px;
      .rings {
        border-bottom: 1px dashed black;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;
        padding-left: 5%;
        padding-right: 5%;
        padding-top: 2%;
        .ring {
          background-color: $notebook;
          width: 20px;
          height: 20px;
          border-radius: 50px;
          position: relative;
          margin-bottom: 8px;
          &:after {
            content: "";
            position: absolute;
            background-color: silver;
            border-radius: 5px;
            top: -35px;
            left: 8px;
            width: 5px;
            height: 45px;
          }
        }
      }
      .content {
        overflow: hidden;
        .form,
        .list {
          h2 {
            text-align: center;
            font-size: 2rem;
          }
        }
        .form {
          #todoForm {
            position: relative;
            .todoText,
            .todoDescription,
            .submit {
              display: block;
              margin: auto;
            }
            .todoText {
              width: 80%;
            }
            .required {
              position: absolute;
              top: 2px;
              right: 5%;
            }
            .todoDescription {
              width: 95%;
              height: 35px;
              resize: none;
            }
            .requiredField {
              margin: auto;
              margin-left: 25px;
              margin-bottom: -10px;
              margin-top: 5px;
            }
            .submit {
              margin-bottom: 10px;
            }
          }
        }
        .list {
          padding-bottom: 10px;
          h2 {
            margin-top: 0;
            margin-bottom: 0;
          }
          h3 {
            font-size: 1.6rem;
            text-align: center;
          }
          #todoList {
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-orient: vertical;
            -webkit-box-direction: reverse;
            -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
            padding: 0;
            margin-top: -10px;
            padding-top: 5px;
            max-height: 25vh;
            gap: 1vh;
            overflow-y: scroll;
            .todo-item {
              width: 80vw;
              max-width: 220px;
              margin: auto;
              margin-bottom: 1vh;
              display: -webkit-box;
              display: -ms-flexbox;
              display: flex;
              -webkit-box-align: center;
              -ms-flex-align: center;
              align-items: center;
              -webkit-box-pack: justify;
              -ms-flex-pack: justify;
              justify-content: space-between;
              .tick {
                width: 20px;
                height: 20px;
                border: 3px solid $check;
                border-radius: 50px;
                display: -webkit-inline-box;
                display: -ms-inline-flexbox;
                display: inline-flex;
                -webkit-box-pack: center;
                -ms-flex-pack: center;
                justify-content: center;
                -webkit-box-align: center;
                -ms-flex-align: center;
                align-items: center;
                cursor: pointer;
                &:before {
                  content: "✓";
                  color: $tick;
                  font-weight: bold;
                  display: none;
                }
              }
              span {
                -webkit-box-flex: 1;
                -ms-flex-positive: 1;
                flex-grow: 1;
                text-align: center;
                max-width: 120px;
                padding-left: 5px;
                padding-right: 2px;
                overflow: hidden;
                -o-text-overflow: ellipsis;
                text-overflow: ellipsis;
              }
            }
            .done {
              -webkit-box-ordinal-group: 0;
              -ms-flex-order: -1;
              order: -1;
              span {
                text-decoration: line-through;
                color: $checked;
              }
              .detail-button {
                text-decoration: none;
              }
              .tick {
                &:before {
                  display: inline;
                }
              }
            }
          }
        }
      }
      .detailed-content {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-align: center;
        -ms-flex-align: center;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        align-items: center;
        height: 70vh;
        #error {
          padding-left: 20px;
          padding-right: 20px;
          font-size: 1.5rem;
          text-align: center;
          + #text {
            display: none;
            + #description {
              display: none;
            }
          }
        }
        #text {
          font-size: 3rem;
          height: 20px;
        }
        #description {
          font-size: 2rem;
          text-align: center;
          padding-left: 20px;
          padding-right: 20px;
        }
      }
    }
  }
  #detailed-main {
    position: relative;
    top: 30px;
    #detailed-section {
      position: relative;
      &:before {
        content: "";
        background-color: $page;
        border-top: 1px dashed black;
        width: 100%;
        max-width: 380px;
        height: 32px;
        position: absolute;
        top: -51px;
      }
      .rings {
        .ring {
          &:before {
            content: "";
            background-color: $notebook;
            width: 20px;
            height: 20px;
            border-radius: 50px;
            position: absolute;
            top: -46px;
            margin-bottom: 8px;
          }
        }
      }
    }
  }
}
// }
