footer {
  .copyright {
    width: 100%;
    text-align: center;
    &-text {
      display: none;
    }
  }
}
#detailed-footer {
  position: relative;
  top: 30px;
}

@media screen and (min-width: 600px) {
  footer {
    .copyright {
      &-text {
        display: inline;
        .copyright {
          padding-right: 2px;
          position: relative;
          bottom: 2px;
          font-size: 0.8em;
        }
      }
      &-logo {
        display: none;
      }
    }
  }
}
