@import "../utils/variables";

button,
.detail-button {
  border-radius: 50px;
  cursor: pointer;
  border: 3px solid;
}
button {
  border-color: $delete;
  color: $delete;
  margin-left: 5px;
  font-size: 1rem;
}
.detail-button {
  width: 15px;
  height: 15px;
  font-size: 0.8rem;
  padding: 5px;
  margin: 0;
}
